.table-holder {
  max-width: 1200px;
}
table { 
	width: 100%; 
	margin:50px auto;
	border-radius: 50px;
	}

td, th { 
  color: black;
	padding: 10px; 
	border: 1px solid #ccc;  
	font-size: 18px;
  background-color: white;
	}
