/* Start Press Section */
#sign-in {
  margin-top: 120px;    
}
#sign-in .container {
  max-width: 800px;
}
.sign-up-container {
  --bs-gutter-x: 0;
    padding: 48px 56px;
    background: rgba(52, 33, 52, 0.5);
    backdrop-filter: blur(26px);
    border-radius: 36px;
    border: 1px solid rgba(255, 255, 255, 0.17);
}

.sign-up-container div {
  margin-bottom: 28px;
}

.sign-up-container label{
  font-family: "Clash Display Semi Bold";
  font-size: 20px;
  line-height: 24px;
  color: white;
}
.sign-up-container input {
  height: 52px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 8px;
  border: 0;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.17);
  box-shadow: none;
  color: white;
}
.sign-up-container textarea {
  height: 160px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 8px;
  outline: none;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  color: white;
  resize: none;
  border: 1px solid rgba(255, 255, 255, 0.17);
  box-shadow: none;
}
.sign-up-container form input[type ="submit"]{
  padding: 12px 49px;
  color:white ;
  font-size: 18px;
  line-height: 24px;
  font-family: "Clash Display Semi Bold";
  background: linear-gradient(90deg, #A734BD 0%, #FF006A 100%);
  border: none;
}
.form-control:focus {
  background: rgba(255, 255, 255, 0.05);
}
.sign-up-container form a {
  display: block;
  text-align: center;
}
.sign-up-container form a:last-child{
  margin-top: 15px;
  padding: 12px 49px;
  color:white ;
  font-size: 18px;
  line-height: 24px;
  font-family: "Clash Display Semi Bold";
  background: linear-gradient(90deg, #A734BD 0%, #FF006A 100%);
  border: none;
  width: 100%;
  border-radius: 8px;
}
.form-control:focus {
  color: white;
}