#terms {
    margin-top: 48px;
}

#terms h1 {
    font-size: 70px;
    line-height: 76px;
    font-family: "Clash Display Bold";
    background: linear-gradient(90deg, #A734BD 0%, #FF006A 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    text-align: center;
    margin-bottom: 100px;
}
#terms h2 {
    background-color: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: unset;
    font-family: "Poppins", sans-serif;
}
#terms .terms-content h2{
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: var(--paragraph);
    margin-bottom: 20px;
}
#terms .terms-content p{
    font-size: 16px;
    line-height: 24px;
    color: var(--paragraph);
}
#terms .terms-content li {
    font-size: 16px;
    line-height: 28px;
    font-family: "Poppins", sans-serif;
    color: var(--paragraph);
}
#terms .terms-content {
    margin-bottom: 40px;
}
#terms .terms-holder{
    background: rgba(52, 33, 52, 0.5);
    border-radius: 20px;
    padding: 24px;
    border: 1px solid  rgba(255, 255, 255, 0.17);
}
#terms .terms-content:last-child {
    margin-bottom: 0;
}
@media(max-width:767.98px){
    #terms h1 {
        margin-top: 89px;
        font-size: 40px;
        line-height: 48px;
        margin-bottom: 24px;
    }
    #terms .terms-content h2 {
        font-size: 20px;
        line-height: 24px;
    }
    #terms .terms-content p {
        font-size: 16px;
    }
}
#terms .img-holder{
    top: -150px;
    left: 0;
    z-index: -1;
}
#terms .img-holder-1{
    top: 200px;
    right: 0;
    z-index: -1;
}
#terms .img-holder-2{
    top: 700px;
    left: 0;
    z-index: -1;
}
#terms .img-holder-3{
    top: 1500px;
    right: 0;
    z-index: -1;
}
#footer .img-holder-4{
    bottom: 0;
    left: 0;
    z-index: -1;
}
#footer .img-holder-4 img{
    background: linear-gradient(90deg, #A734BD 0%, #FF006A 100%);
    opacity: 0.6;
    filter: blur(200px);
}
@media (max-width:767.98px) {
    #terms .img-holder-1{
        top: -250px;
        opacity: 0.7;
    }
    #terms .img-holder-2{
        top: 1900px;
        opacity: 0.7;
    }
    #terms .img-holder-3 {
        top: 700px;
        opacity: 0.7;
    }
}